<template>
    <header class="book-card__header">
        <!-- Form -->
        <form class="form"
              action="#"
              @submit.prevent="submitHandler"
        >
            <div class="form__row">
                <div class="form__group">
                    <input class="form__input"
                           type="text"
                           v-model.trim="name"
                           placeholder="Type contact name..."
                    >
                    <button class="form__submit button" type="submit">Add</button>
                </div>
            </div>
        </form>
    </header>
</template>

<script>
    export default {
        name: "ContactListHeader",
        components: {},

        data() {
            return {
                name: ''
            }
        },

        methods: {
            submitHandler() {
                //validation should be there
                if (!this.name)
                    return

                this.$emit('form-submitted', this.name)
                this.name = ''
            }
        }
    }
</script>
