<template>
  <li class="book-card__item">
    <div class="book-card__item-block">
      <router-link :to="{name: 'contact', params: {id: contact.id}}">
              <span class="book-card__item-name book-card__item-name--full">
              {{ contact.name }}
              <i class="material-icons book-card__item-icon">chevron_right</i>
            </span>
      </router-link>
    </div>
    <div class="book-card__item-block book-card__item-block--right">
      <button class="button button-icon button-icon--remove" @click="removeContact">
        <i class="material-icons" title="Remove Contact">delete_forever</i>
      </button>
    </div>
  </li>
</template>

<script>
export default {
  name: 'ContactListItem',
  components: {},

  props: {
    contact: {
      type: Object,
      required: true
    }
  },

  data() {
    return {}
  },

  methods: {
    removeContact() {
      this.$emit('remove-contact')
    }
  }
}

</script>
