.book-card {
  width: rem(520px);

  border-radius: rem(15px);
  box-shadow: 0px rem(4px) rem(1px) rgba($white, .03);
  background-color: $white;

  @media (max-width: rem(550px)) {
    width: calc(100% - #{rem(30px)});
    margin-left: auto;
    margin-right: auto;
  }

  &__header {
    padding: rem(30px);

    border-bottom: rem(1px) solid $athens-gray;

    @media (max-width: rem(550px)) {
      padding: rem(15px);
    }
  }

  &__controls {
    &-block {
      display: flex;
      align-items: center;
      justify-content: center;

      margin-top: rem(25px);
    }
  }

  &__body {
    max-height: rem(450px);
    padding: rem(43px) rem(30px);

    overflow-y: auto;

    @media (max-width: rem(550px)) {
      max-height: rem(290px);
      padding: rem(15px);
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: rem(45px);

      @media (max-width: rem(550px)) {
        margin-bottom: rem(25px);
      }
    }

    &-block {
      display: flex;
      flex-grow: 1;

      @media (max-width: rem(550px)) {
        &:not(&--right) {
          flex-direction: column;
        }
      }

      &--right {
        flex-grow: 0;
        margin-left: rem(20px);
      }

      &--padd {
        padding-bottom: rem(5px);

        @media (max-width: 550px) {
          padding-bottom: 0;
        }
      }
    }

    &-name {
      all: unset;

      font-size: rem(16px);
      line-height: rem(20px);

      width: 100%;
      min-width: 0;

      display: flex;
      align-items: center;
      flex-grow: 1;

      transition: .3s ease;

      color: $text-color-secondary;
      border-bottom: 1px solid transparent;

      @media (max-width: rem(550px)) {
        font-size: rem(14px);
      }

      &:not(&--full) {
        padding-bottom: rem(5px);
      }

      &:not(&--full):first-child {
        margin-right: rem(10px);

        @media (max-width: rem(550px)) {
          margin-right: 0;
          margin-bottom: rem(10px);
        }
      }

      &:hover {
        color: $text-color-primary;
      }

      &.input {
        border-color: $malibu;
      }

      i {
        @media (max-width: rem(550px)) {
          font-size: rem(20px);
        }
      }
    }

    &-name:hover & {
      &-icon {
        transform: translateX(rem(10px));
      }
    }

    &-icon {
      margin-left: rem(7px);

      transition: .3s ease;
    }
  }

  &__empty {
    text-align: center;
    color: $text-color-secondary;

    @media (max-width: 550px) {
      font-size: rem(14px);
    }
  }
}