.button {
  font-size: rem(14px);
  line-height: rem(17px);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  user-select: none;

  transition: .3s ease;
  text-align: center;

  border: none;
  background-color: transparent;

  appearance: none;

  &-icon {
    i {
      transition: .3s ease;
      color: $text-color-secondary;

      @media (max-width: rem(550px)) {
        font-size: rem(20px);
      }

    }

    &--remove, &--close {
      i {
        &:hover {
          color: $salmon;
        }
      }
    }

    &--edit {
      i {
        &:hover {
          color: $malibu;
        }
      }
    }

    &--cancel {
      i {
        color: $salmon;
      }
    }

    &--save {
      i {
        color: $apple;
      }
    }

    &--restore {
      color: $text-color-secondary;
      &:hover, &:hover i {
        color: $malibu;
      }

      i {
        margin-right: rem(5px);
      }
    }
  }

  &-icon + &-icon {
    margin-left: rem(10px);
  }

  &--light, &--primary {
    font-size: rem(12px);
    padding: rem(5px) rem(12px);

    color: $text-color-secondary;
    border: 1px solid rgba($text-color-secondary, .25);
    border-radius: rem(3px);
    background-color: $white;
  }

  &--light {
    &:hover {
      color: $malibu;
      border-color: rgba($malibu, .07) ;
      background-color: rgba($malibu, .07);
    }
  }

  &--primary {
    color: $white;
    border-color: $malibu;
    background: $malibu;

    &:hover {
      background-color: lighten($malibu, 3);
      border-color: lighten($malibu, 3);
    }
  }

}