.container {
  width: calc(100% - #{$container-offset * 2});
  max-width: $container-max-width;
  margin-right: auto;
  margin-left: auto;

  @media #{$screen-small} {
    width: calc(100% - #{$container-offset-big * 2});
  }
}