.form {

  &__group {
    display: flex;

    @media (max-width: rem(550px)) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__group--merged & {
    &__input {
      font-size: rem(13px);

      width: rem(150px);
      min-width: 0;

      padding: 0 rem(10px);

      border: none;
      border-radius: unset;

    }
  }

  &__input {
    flex-grow: 1;

    padding: 0 25px;

    transition: .3s ease;

    color: $text-color-primary;
    border: rem(1px) solid $athens-gray;
    border-right: none;
    border-top-left-radius: rem(5px);
    border-bottom-left-radius: rem(5px);

    @media (max-width: rem(550px)) {
      font-size: rem(13px);

      width: calc(100% - #{rem(30px)});

      padding: rem(15px);

      border-right: rem(1px) solid $athens-gray;;
      border-radius: rem(5px);
    }

    &:focus {
      border-color: $malibu;
    }

    &::placeholder {
      color: $text-color-secondary;
    }
  }

  &__submit {
    padding: rem(16px) rem(35px);

    color: $white;
    border-top-right-radius: rem(5px);
    border-bottom-right-radius: rem(5px);
    background-color: $malibu;

    @media (max-width: rem(550px)) {
      width: 65%;
      padding: rem(10px);
      margin-top: rem(15px);

      border-radius: rem(5px);
    }

    &:hover, &:focus {
      background-color: lighten($malibu, 3);
    }
  }

  &__merged-inputs {
    position: relative;

    display: flex;
    flex-grow: 1;

    transition: .3s ease;

    border: rem(1px) solid $athens-gray;
    border-right: none;
    border-top-left-radius: rem(5px);
    border-bottom-left-radius: rem(5px);

    overflow: hidden;

    @media (max-width: rem(550px)) {
      width: 100%;
      padding: rem(15px) 0;

      border-right: rem(1px) solid $athens-gray;
      border-radius: 5px;

      input {
        width: 100% !important;
      }
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;

      width: rem(1px);
      height: 65%;

      content: '';
      transform: translate(-50%, -50%);

      background-color: $athens-gray;
    }

    &:focus-within {
      border-color: $malibu;
    }
  }
}