.header {
  height: $header-height;

  background-color: $header-background;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
  }

  &__title {
    font-size: rem(18px);

    margin: 0;

    color: $text-color-primary;
  }

  &__link {
    color: $text-color-primary;

    text-decoration: none;
  }
}