.modal {
  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.3);
  }

  &__inner {
    width: rem(390px);
    padding: rem(15px);

    border-radius: rem(5px);
    background-color: $white;

    @media (max-width: rem(450px)) {
      width: calc(100% - #{rem(60px)});
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__header {
    font-weight: 700;

    display: flex;
    justify-content: space-between;

    margin-bottom: rem(20px);

    @media (max-width: rem(450px)) {
      font-size: rem(14px);
    }
  }

  &__content {
    font-size: rem(14px);
    line-height: rem(23px);

    margin-bottom: rem(20px);

    @media (max-width: rem(450px)) {
      font-size: rem(12px);
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;

    button + button {
      margin-left: rem(10px);
    }
  }
}