<template>
  <div class="book-card__inner">
    <!-- If contact exists -->
    <template v-if="contact">
      <contact-header>
        <contact-form @form-submitted="addInfo"/>

        <contact-controls v-if="history"/>
      </contact-header>

      <contact-body>
        <!-- If info about this contact exists -->
        <ul v-if="contact.info.length" class="book-card__list">
          <contact-field
              v-for="field in contact.info"
              :key="field.id"
              :field="field"
              @update-field="updateField"
              @remove-field="removeInfoItem"
          />
        </ul>

        <!-- If info about this contact was not found -->
        <not-found v-else :message="infoNotFound"/>
      </contact-body>


    </template>


    <!-- If contact was not found -->
    <div v-else class="book-card__body">
      <not-found message="< Contact not found />"/>
    </div>

  </div>
</template>

<script>
  import Modal from '@/components/Modal'
  import NotFound from '@/components/NotFound';
  import ContactHeader from '@/components/contact/ContactHeader';
  import ContactForm from '@/components/contact/ContactForm';
  import ContactControls from '@/components/contact/ContactControls';
  import ContactField from '@/components/contact/ContactField';
  import ContactBody from '@/components/contact/ContactBody';

  export default {
    components: {
      ContactBody,
      ContactField,
      ContactControls,
      ContactForm,
      ContactHeader,
      NotFound,
      Modal
    },

    created() {
      this.$store.subscribeAction({
        before: (action, state) => {
          switch (action.type) {
            case 'addContactInfo':
            case 'updateInfoField':
            case 'removeInfoField':
              this.$store.dispatch('saveStep')
          }
        }
      })
    },

    computed: {
      contact() {
        const id = +this.$route.params.id

        return this.$store.getters.contactById(id)
      },

      history() {
        return this.$store.state.history.length
      },

      infoNotFound() {
        return `< Info about ${this.contact.name} not found />`
      }
    },

    methods: {
      addInfo(data) {
        data.id = Date.now()
        this.$store.dispatch('addContactInfo', {data, contactId: this.contact.id})
      },

      removeInfoItem(fieldId) {
        this.$store.dispatch('removeInfoField', {contactId: this.contact.id, fieldId})
      },

      updateField(newValue, fieldId) {
        const data = {
          contactId: this.contact.id,
          fieldId,
          newValue
        }

        this.$store.dispatch('updateInfoField', data)
      },
    },

    beforeDestroy() {
      this.$store.dispatch('clearHistory')
    }
  }
</script>
