<template>
  <div class="book-card__inner">
    <contact-list-header @form-submitted="addContact" />

    <div class="book-card__body">
      <!-- List -->
      <ul v-if="contacts.length" class="book-card__list">
        <contact-list-item
          v-for="contact in contacts"
          :key="contact.id"
          :contact="contact"
          @remove-contact="showModal(contact)"
        />
      </ul>
      <!-- Empty List Message -->
      <not-found v-else message="Contact book is empty" />
    </div>

    <modal v-if="modalVisibility"
           :title="modalTitle"
           @close="closeModal"
    >
      This will permanently delete the contact. Continue?
      <template v-slot:actionBtn>
        <button class="button button--primary" @click="removeContact">OK</button>
      </template>
    </modal>
  </div>
</template>

<script>
import Modal from '@/components/Modal'
import ContactListHeader from '@/components/contact-list/ContactListHeader';
import NotFound from '@/components/NotFound';
import ContactListItem from '@/components/contact-list/ContactListItem';

export default {
  name: 'Home',
  components: {
    ContactListItem,
    NotFound,
    ContactListHeader,
    Modal
  },

  data() {
    return {
      modalVisibility: false,
      modalContact: null
    }
  },

  computed: {
    contacts() {
      return this.$store.getters.contacts
    },

    modalTitle() {
      return `Remove ${this.modalContact.name}`
    }
  },

  methods: {
    addContact(name) {

      const contact = {
        id: Date.now(),
        name,
        info: []
      }

      this.$store.dispatch('addContact', contact)

    },

    removeContact() {
      this.$store.dispatch('removeContact', this.modalContact.id)

      this.closeModal()
    },

    showModal(contact) {
      this.modalVisibility = true

      this.modalContact = contact
    },

    closeModal() {
      this.modalVisibility = false

      this.modalContact = null
    }
  }
}
</script>
