<template>
  <form class="form" action="#" @submit.prevent="submitHandler">
    <!-- Add info -->
    <div class="form__row">
      <div class="form__group form__group--merged">
        <div class="form__merged-inputs">
          <input class="form__input" type="text" placeholder="Title" v-model="title">
          <input class="form__input" type="text" placeholder="Value" v-model="value">
        </div>
        <button class="form__submit button" type="submit">Add</button>
      </div>
    </div>

  </form>
</template>

<script>
export default {
  name: 'ContactForm',

  data() {
    return {
      title: '',
      value: ''
    }
  },

  methods: {
    submitHandler() {
      //validation should be there
      if (this.title === '' || this.value === '')
        return

      const info = {
        id: Date.now,
        title: this.title,
        value: this.value
      }

      this.$emit('form-submitted', info)

      this.title = this.value = ''
    }
  }
}

</script>
