<template>
  <header class="book-card__header">
    <slot></slot>
  </header>
</template>

<script>
export default {
  name: 'ContactHeader',
  components: {},

  props: {},

  data() {
    return {}
  },

  computed: {},

  methods: {}
}

</script>
