<template>
  <li class="book-card__item">
    <div class="book-card__item-block">
      <!-- If user wants to edit item -->
      <template v-if="isEdit">
        <input class="book-card__item-name input" type="text" v-model.trim="title">
        <input class="book-card__item-name input" type="text" v-model.trim="value">
      </template>
      <!-- Default state -->
      <template v-else>
        <span class="book-card__item-name">{{ title }}:</span>
        <span class="book-card__item-name">{{ value }}</span>
      </template>
    </div>

    <div class="book-card__item-block book-card__item-block--right book-card__item-block--padd">
      <!-- Edit item buttons -->
      <template v-if="isEdit">
        <button class="button button-icon button-icon--cancel" @click="showModal('edit')">
          <i class="material-icons" title="Cancel">cancel</i>
        </button>
        <button class="button button-icon button-icon--save" @click="update">
          <i class="material-icons" title="Save">check_circle</i>
        </button>
      </template>
      <!-- Default buttons -->
      <template v-else>
        <button class="button button-icon button-icon--edit" @click="beginEdit">
          <i class="material-icons" title="Edit Item">edit</i>
        </button>
        <button class="button button-icon button-icon--remove" @click="showModal('remove')">
          <i class="material-icons" title="Remove Item">delete_forever</i>
        </button>
      </template>
    </div>

    <!-- Edit modal -->
    <modal
      v-if="modal.edit.visibility"
      title="Stop editing"
      @close="closeModal('edit')">
      Changes will not be saved. Continue?
      <template v-slot:actionBtn>
        <button class="button button--primary" @click="cancelEdit">OK</button>
      </template>
    </modal>

    <!-- Remove modal -->
    <modal
      v-if="modal.remove.visibility"
      title="Remove info"
      @close="closeModal('remove')"
    >
      This action will permanently delete the information. Continue?
      <template v-slot:actionBtn>
        <button class="button button--primary" @click="remove">OK
        </button>
      </template>
    </modal>
  </li>
</template>

<script>
export default {
  name: 'ContactField',

  components: {
    Modal: () => import('@/components/Modal')
  },

  props: {
    field: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      title: '',
      value: '',
      isEdit: false,
      modal: {
        edit: {
          visibility: false,
        },
        remove: {
          visibility: false,
        }
      }
    }
  },
  computed: {
    isValid() {
      return this.title !== '' && this.value !== ''
    },
  },

  methods: {
    init() {
      this.setDataFromProps();
    },

    setDataFromProps() {
      this.title = this.field.title
      this.value = this.field.value
    },

    showModal(type) {
      this.modal[type].visibility = true;
    },
    closeModal(type) {
      this.modal[type].visibility = false;
    },

    beginEdit() {
      this.isEdit = true
    },
    stopEdit() {
      this.isEdit = false;
    },
    cancelEdit() {
      this.setDataFromProps();
      this.closeModal('edit');
      this.stopEdit();
    },

    update() {
      if (!this.isValid) return;

      const newValue = {
        title: this.title,
        value: this.value
      }

      this.$emit('update-field', newValue, this.field.id)
      this.stopEdit();
    },

    remove() {
      this.$emit('remove-field', this.field.id);
      this.closeModal('remove');
    }
  },

  watch: {
    field: {
      deep: true,
      handler: function () {
        this.setDataFromProps();
      }
    }
  },

  created() {
    this.init()
  },

}
</script>
