<template>
  <!-- Step back -->
  <div class="book-card__controls">
    <div class="book-card__controls-block">
      <button class="button button-icon button-icon--restore"
              type="button"
              @click="$store.dispatch('stepBack')"
      >
        <i title="undo" class="material-icons">restore</i>
        step back
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ContactControls',
  components: {},

  props: {},

  data() {
    return {}
  },

  computed: {},

  methods: {}
}

</script>
