<template>
  <transition name="modal-fade" appear>
    <div class="modal">
      <div class="modal__overlay" ref="modalOverlay">
        <div class="modal__inner">
          <!-- Header -->
          <div class="modal__header">
            <div class="modal__title">{{title}}</div>
            <button class="modal__icon button button-icon button-icon--close" @click="closeModal">
              <i class="material-icons">close</i>
            </button>
          </div>
          <!-- Content -->
          <div class="modal__content">
            <slot></slot>
          </div>
          <!-- Footer -->
          <div class="modal__buttons">
            <button
                    class="button button--light"
                    @click="closeModal"
            >
              Cancel
            </button>

            <slot name="actionBtn"></slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
    name: "Modal",

    props: {
      title: {
        type: String,
        default: () => ''
      }
    },

    mounted() {
      document.addEventListener('click', this.closeByClickOnOverlay)
    },

    methods: {
      closeModal() {
        this.$emit('close')
      },

      closeByClickOnOverlay(e) {
        if (e.target === this.$refs.modalOverlay) {
          this.closeModal()
        }
      }
    },

    beforeDestroy() {
      document.removeEventListener('click', this.closeByClickOnOverlay)
    }
  }
</script>

<style lang="scss">
  .modal-fade-enter-active,
  .modal-fade-leave-active {
    transition: opacity .2s ease-in;
  }

  .modal-fade-enter,
  .modal-fade-leave-to {
    opacity: 0;
  }
</style>