<template>
    <div class="book-card__empty">{{message}}</div>
</template>

<script>
    export default {
        name: "NotFound",

        props: {
            message: {
                type: String,
                required: true
            }
        },
    }

</script>
