<template>
  <div id="app">
    <div class="page">
      <!-- Header -->
      <header class="page__header header">
        <div class="header__inner container">
          <h1 class="header__title">
            <router-link to="/" class="header__link">< contact book app /></router-link>
          </h1>
         </div>
      </header>

      <!-- Content -->
      <main class="page__content content">
        <section class="book-card">
          <router-view />
        </section>
      </main>

    </div>
  </div>
</template>

<script>
  export default {
    created() {
      this.$store.subscribeAction({
        after: (action, state) => localStorage.setItem('contacts', JSON.stringify(state.contacts))
      })
    }
  }
</script>