body {
  font-family: 'Montserrat', sans-serif;

  background-color: $athens-gray;
}

a {
  text-decoration: none;
}

a,
button,
input {
  padding: 0;

  &:focus {
    outline: 0;
  }
}

ul {
  padding-left: 0;
  margin: 0;

  list-style: none;
}