// Colors
$white: #FFFFFF;
$tundora: #606266;
$gray: #939393;
$athens-gray: #E9EDF0;
$malibu: #7190FF;
$salmon: #FF7878;
$apple: #67C23A;

$text-color-primary: $tundora;
$text-color-secondary: $gray;
$header-background: $white;
$body-background: $athens-gray;

// Layout
$container-max-width: rem(1260px);
$container-offset: rem(20px);
$container-offset-big: rem(40px);

// Breakpoints
$screen-giant: '(min-width: 120em)'; // GIANT: 1920px
$screen-medium: '(min-width: 64em)'; // MEDIUM: 1024px
$screen-small: '(min-width: 48em)';  // SMALL: 768px
$screen-tiny: '(min-width: 32em)';   // TINY: 512px

// Sizes
$header-height: rem(100px);